<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<p> <% article.comments.forEach((comment) => { %>
  <h5> Comment By: <%= comment.dataValues.name %></h5>
  <p> <%= comment.dataValues.content %></p>
<% }) %>

<div>
  <form method="POST" action='/articles/<%= article.id %>/comments'>
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" required>
    
    <label for="content">Comment:</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
    <br />
    <input type="submit" class="btn btn-primary">
  </form>
</div>

<br />
<br />

<a href="/">&larr; Back Home</a>

